 <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Conocenos</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Como trabajamos</a></li>
          <li><a href="#team">Equipo</a></li>
          <li class="menu-has-children"><a href="#">¿Que Ofrecemos?</a>
            <ul>
              <li><a href="#">Diplomados</a></li>
              <li><a href="#">Certificaciones</a></li>
              <li><a href="#">Desarrollo humano</a></li>
              <li><a href="#">Asesorias</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contactanos</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->